::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9ebfa;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.first-item{
  background-color: #2563eb;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

li{
  margin-bottom: 10px;
  cursor: pointer;
}